<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty.util" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
